<div class="list-header">
  <h2>Subjects</h2>
  <button mat-raised-button color="primary" (click)="openAdd()">
    <mat-icon>add</mat-icon> Add Subject
  </button>
</div>

@if (loading()) {
  <div class="spinner-container">
    <mat-spinner diameter="48" />
  </div>
} @else {
  <div class="table-container mat-elevation-z2">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let s">{{ s.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let s">{{ s.description }}</td>
      </ng-container>

      <ng-container matColumnDef="className">
        <th mat-header-cell *matHeaderCellDef>Class</th>
        <td mat-cell *matCellDef="let s">{{ s.className }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let s">
          <button mat-icon-button color="primary" (click)="openEdit(s)" title="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(s)" title="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
          No subjects found.
        </td>
      </tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10]" showFirstLastButtons />
  </div>
}
